*{
    padding: 0;
    margin:0;
    font-family: "Briem Hand", cursive;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px;
}
p{
    font-size: 15px;
    color: #333;
    line-height: 21px;
}
.nav-item{
    margin: 6px 0px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.nav-item ul{
    display: flex;
}
.nav-item li{
    list-style: none;
}
.nav-item a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
    padding: 0px 20px;
}